.head-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-second;
  font-size:$font-size-first;
  cursor: pointer;
  margin-left: 20px;
  @media(max-width:750px){
    margin-left: 0;
    // font-size:$font-size-second;
  }
}
.fa-user {
  padding-left: 40px;
  transition: all 0.5s;
  &:hover {
    color: $color-third;
  }
  @media(max-width:750px){
    padding-left: 20px;
  }
}
.head-icon-label {
  font-size: $font-size-first;
  padding-left: 10px;
  font-family: $font-bebas;
  cursor: pointer;
  color: $color-third;
  // @media(max-width:750px){
  //   font-size: 1rem;
  // }
}
.fa-sort-down {
  margin-left: 10px;
  font-size: 5px;
}
.fa-shopping-cart {
  transition: all 0.5s;
  &:hover {
    color: $color-third;
  }
}
.hidden {
  display: none;
}
#home {
  background-color: $color-third;
  color: $color-first;
}
.proflie-info {
  position: absolute;
  background-color: rgba($color-third, 0.7);
  border-radius: 3%;
  font-size:$font-size-first;
  color: $color-black;
  font-family: $font-bebas;
  left: 10%;
  top: 10%;
  ul{
    margin: 0;
  li {
    list-style-type: none;
    padding: 8px;
    border-bottom: 2px solid $color-second;
    border-radius: 20px;
    letter-spacing: 1px;
    transition: all 0.2s;
    &:hover {
      border-bottom: 5px solid $color-first;
    }
  }
}
}
.head-name {
  @include centering(30%);
  color: $color-second;
  font-size: 6vw;
  letter-spacing: 9px;
  font-family: $font-bebas;
}
.sub-name {
  @include centering(50%);
  color: $color-second;
  font-size: 4vw;
  letter-spacing: 3px;
  font-family: $font-bebas;
}
.scroll-down {
  @include centering(75%);
  left: 48%;
  color: $color-second;
  font-size: 2rem;
  font-family: $font-quicksand;
  font-weight: 600;
  li {
    list-style-type: none;
  }
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

.items {
  width: 30%;
  height: 30vw;
  margin-top: 40px;
  background-color: $color-third;
  border: 2px solid $color-third;
  box-shadow: 5px 5px 10px darken($color: $color-third, $amount: 30%),
    -5px -5px 10px darken($color: $color-third, $amount: 30%);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 100%;
    height: 70%;
    border-bottom: 4px solid $color-second;
  }
  &-footer {
    background-image: url(images/Simple-Shiny.svg);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    .add-btn {
      @extend .btn-style;
      i {
        padding-right: 20px;
      }
    }
    .price {
      font-family: $font-bebas;
      font-size:($font-size-first*1.5);
      border-bottom: 3px solid $color-second;
    }
  }
}

.buy-alert-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-first;
  span {
    padding-left: 10px;
    font-family: $font-quicksand;
    color: $color-third;
    font-size: $font-size-first;
    .span-in {
      color: $color-second;
    }
    // @media(max-width:950px){
    //   font-size: $font-size-second;
    // }
  }
  .buy-alert-btn {
    #show-btn {
      @extend .btn-style;
    }
    #close-btn {
      @extend .btn-style;
      margin: 0 30px;
      @media(max-width:550px){
        margin: 0;
      }
    }
  }
}

.cart-submit-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba($color: $color-black, $alpha: 0.8);
  .cart-submit-container {
    width: 50%;
    @include centering(50%);
    background-color: $color-third;
    border-radius: 10px;

    .cart-submit-header{
      width: 95%;
      margin: auto;
      padding-top: 10px;
      font-size:$font-size-first;
      font-family: $font-bebas;
      color: $color-first;
      #x-btn{
        font-family: $font-quicksand;
        font-weight: 900;
        // border: 2px solid $color-first;
        // border-radius:50%;
        text-align: right;
        font-size: $font-size-first;
        &:hover{
          color: $color-second;
          cursor: pointer;
        }
      }
    }
    .cart-submit-main{
      padding-left: 10px;
      font-family: $font-bebas;
      color: $color-first;
      font-size: $font-size-first;
      select{
          background-color:$color-first;
          color: $color-second;
          border-radius: 5px;
      }
      #done-btn{
        @extend .btn-style;
        position: absolute;
        bottom:-3%; 
        }
    }
  }
}